<h4>Olá, {{ name }},</h4>
<strong>
  Você solicitou a redefinição da sua senha
</strong> <br />
<p>
  Um link exclusivo para redefinir sua senha foi gerado para você.<br />
  Para redefinir sua senha, clique no link a seguir e
  siga as instruções:
</p>
<a href="{{ token }}">Redefinir senha</a> <br />
<p>
  Se você não solicitou a redefinição, basta ignorar este e-mail.
</p>
<br />
